@for(items of keralaImages; track items.id){
    <div class="category-name d-flex justify-content-center">{{items.category}}</div>
    <div class="container w-100">
    <div class="scrollable-row mb-5">
      <div class="card-row">
      @for(item of items.images; track item.id){
          <div class="card-col">
            <div class="card images-card">
                <img class="card-img-top" [src]="item.image" alt="Card image cap" width="100%" height= "100%">
              </div>
          </div>
      }
      </div>
    </div>
    </div>
} 




