<div class="home">
    <app-carousel></app-carousel>
    <div class="container d-flex justify-content-center">
        <h3 class="m-4 heading">Welcome to Kerala - God's Own Country!</h3>
    </div>
    <div class="content d-flex container">
        <p class="intro">

            Kerala, often referred to as "God's Own Country," is a picturesque state located on the southwestern coast of India. Known for its serene backwaters, lush greenery, and diverse wildlife, Kerala is a haven for nature lovers and adventure seekers alike. The state boasts a rich cultural heritage, evident in its traditional art forms like Kathakali and Theyyam, vibrant festivals such as Onam and Vishu, and delicious cuisine that tantalizes the taste buds. With its pristine beaches, tranquil hill stations, and extensive network of rivers and lagoons, Kerala offers a unique blend of natural beauty and cultural richness, making it a must-visit destination for travelers from around the world.</p>
    </div>
    <div class="container mt-4 mb-5 d-flex justify-content-center">
        <app-card-slider></app-card-slider>
    </div>
</div>

